.sliderwrapper{
	position: relative; /*leave as is*/
	overflow: hidden;
	width: 100%; /*width of featured content slider*/
	height: 450px;
	margin: 0px;
	padding: 0px;
	clear: both;
}



.sliderwrapper .contentdiv{
visibility: hidden; /*leave as is*/
	position: absolute; /*leave as is*/
	left: 0;  /*leave as is*/
	top: 0;  /*leave as is*/
	background: no-repeat center top;
	width: 100%; /*width of content DIVs within slider. Total width should equal slider's inner width (390+5+5=400) */
	height: 100%;
	filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

.pagination{
	width: 80%; /*Width of pagination DIV. Total width should equal slider's outer width (400+10+10=420)*/
	margin: 0px;
	z-index: 100;
	text-align: center;
	padding: 0px;
	position: absolute;
	top: 300px;
	margin-left: 10%;
	margin-right: auto;
	
}

.pagination a{
	padding: 3px 7px;
	text-decoration: none;
	background-image: url(images/toggle.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	top: 272px;
}

.pagination a:hover{
	background-image: url(images/hover.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
.pagination a.selected{
	background-image: url(images/select.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
.pagination  a.prev {
	background-image: url(images/arrow_left.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0px;
	height: 58px;
	width: 58px;
	float: left;
	margin-top: 0px;
	position: relative;
	top: 0px;
}
.pagination a.prev:hover {
	background-position: left -58px;
	background-image: url(images/arrow_left.png);
	background-repeat: no-repeat;
	text-decoration: none;
	cursor: pointer;
}
.pagination  a.next {
	background-image: url(images/arrow_right.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0px;
	height: 58px;
	width: 58px;
	float: right;
	margin-top: 0px;
	position: relative;
	top: 0px;

}
.pagination a.next:hover {
	background-position: left -58px;
	background-image: url(images/arrow_right.png);
	background-repeat: no-repeat;
	text-decoration: none;
	cursor: pointer;
}
.slide1text {
	margin-top: 325px;
	margin-right: 92px;
	font-size: 14px;
	line-height: 20px;
	float:right;

}
.slide2text {
	margin-top: 132px;
	margin-right: 92px;
	font-size: 14px;
	line-height: 20px;
	float:right;

}
.slide3text {
	margin-top: 190px;
	margin-left: 92px;
	font-size: 14px;
	line-height: 20px;

}
#slider1 p.link {
	float: left;
	padding-top: 20px;
	background-image: none;
	margin: 0px;
	padding-left: 0px;
}
#slider1 p.link a {
	float: left;
	width: 180px;
	background-image: url(images/buttons.png);
	background-repeat: no-repeat;
	background-position: left top;
	color: #FFFFFF;
	padding: 8px 0px 9px 15px;
	font-size: 15px;
	margin: 0px;
	position: relative;
	z-index: 5000;
}
#slider1  p.link  a:hover {
	background-image: url(images/buttons.png);
	background-position: left -50px;
}