.lavaLamp {
	position: relative;
	width: 600px;
	overflow: hidden;
}
.lavaLamp li {
	float: left;
	list-style: none;
	margin: 0 8px 0 0;
}
.lavaLamp li.back {
	border: 0;
	background-color:#979797;
	width: 1px;
	height: 1px;
	z-index: 8;
	position: absolute;	
}
.lavaLamp li a {
	text-align: center;
	padding: 4px;
	z-index: 10;
	display: block;
	float: left;
	position: relative;
	overflow: hidden;
	margin: 0;
	display:block;
	min-width:60px;
	text-decoration:none;
}
